.app-header {
    background-color: #282c34;
    padding: 12px;
    color: white;
    text-align: left;
}

.app-header h1 {
    margin: 0;
    font-size: 1.5em;
}

.app-header p {
    margin: 0;
    font-size: 0.75em;
}

.app-header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    margin-right: 20px;
}

.app-header .username {
    font-size: 22px;
    float: left;
    margin-right: 20px;
}
