.filter-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.filter-group label {
    margin-bottom: 5px;
    text-align: left;
}

.filter-group select {
    width: 100%;
    padding: 5px;
}

.filter-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #282c34;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0f0f10;
}