.modal-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: right; /* Space between the message and buttons */
  }
  
  .modal-button {
    padding: 10px 20px; /* Button padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    font-size: 16px; /* Font size */
    margin-right: 20px;
  }
  
  .modal-button.positive {
    background-color: #070707;
    color: white; /* White text */
  }
  
  .modal-button.negative {
    background-color: #070707;
    color: white; /* White text */
  }
  
  .modal-button.confirm:hover {
    background-color: #070707;
  }
  
  .modal-button.cancel:hover {
    background-color: #070707;
  }
  